<footer class="footerBox">
<div style="width: 960px; padding: 10px;margin: 0px auto;"><span style="float: right; padding: 10px; color: #fff;">技术新Q群：435485569</span><a style="float: right; padding: 10px; color: #fff;" href="http://jiangxiao-2000.iteye.com/">ITEYE博客</a></div>
</footer>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fca615d6ad621b43ae678025faa5727e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script type="text/javascript" src="<%= basePath %>/core/jquery.min.js"></script>
<script type="text/javascript" src="<%= basePath %>/public/jquery.form.js"></script>
<script type="text/javascript" src="<%= basePath %>/core/jquery.cookies.min.js"></script>
<script type="text/javascript" src="<%= basePath %>/core/jquery.placeholder.min.js"></script>
<script type="text/javascript" data-main="<%= basePath %>/module<%= currentPage %>.js" src="<%= basePath %>/core/require.js"></script>
</body>
</html>
